venv/
**/node_modules/
backend/node/.env
backend/stego-service/.env
frontend/.env
*.log
*.pid
*.sqlite
dist/
.DS_Store
**/.env
coverage/
package-lock.json
pnpm-lock.yaml
yarn.lock
__pycache__/
*.pyc
temp/